*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    padding: 20px;
    background-color: #635f5f; 
    height: 45px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

header img{
    border-radius: 50px;
    float: left;
    width: 65px;
}
header h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size:40px ;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-bottom: 440px;
    float: right;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #242323;
    color: wheat;
    padding:10px ;
    border-radius: 30px;
}
nav .account-icon{
    position: relative;
    display: inline-block;
}
nav .account-icon img{
    width: 30px;
    margin-left:20px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
nav .account-icon a{
    display: block;
    font-weight: bold;
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px 15px;
}
nav .dropdown{
    display: none;
    position: absolute;
    background-color: #a3a1a1;
    min-width: 100px;
    box-shadow: 0px 8px 6px 0px rgb(0, 0, 0);
    z-index: 1;
}
nav .account-icon:hover .dropdown{
    display: block;
}
nav .dropdown a:hover{
    background-color: #5555f3;
}
.top-page {  
    background-color:orange;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.top-page img{
    border: none;
    border-radius: 5%;
    height: 300px;

}
.top-page .container h2 {
    font-size: 36px;
}

.top-page p {
    font-size: 18px;
}
.shop{
    padding: 50px 0px;

}
.shop h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0px;
}
.categories .category{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 20px;
    cursor: pointer;
    padding: 30px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.categories .category:hover{
    transform: translateY(-20px);
}
.categories .category img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.categories .category a{
    text-decoration: none;
}
.categories .category h3{
    background-color: #56a856;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
}
.categories .category h3:hover{
    background-color: green;
}
.product {
    padding: 50px 0;
}
.product h2{
    text-align: center;
    font-size: 40px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.products{
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 15px;
    cursor: pointer;
    padding: 40px;
    transition: .4s;
    background: white;
    box-shadow:0 14px 28px rgb(71, 70, 70) ;
}
.products:hover{
    transform: (0px, -20px);
    transform: translateY(-10px)
}
.products h3{
    text-align: center;
    font-weight: bold;
}
.products h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(61, 59, 59);
}
.products img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.products button{
    width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    background:#67f067;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s ease;
}
.products button:hover{
    background-color: green;
}
.footer{
    background-color: #333;
    padding: 40px 0;
}
.footer .in-footer{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer .in-footer .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer .in-footer .rows .cols{
    width: 25%;
    padding: 0px;
}
.footer .in-footer .rows .cols h3{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    font-weight: 900px;
    position: relative;
}
.footer .in-footer .rows .cols ul li{
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .in-footer .rows .cols ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: wheat;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer .in-footer .rows .cols ul li a:hover{
    color: aqua;
    padding-left: 10px;
}
.footer .in-footer .rows .cols .icon-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 20px 20px 10px 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.footer .in-footer .rows .cols .icon-links a:hover{
    filter: grayscale(10%);
    width: 50px;
    height: 50px;
}


@media(max-width:1000px){
    .products{
        width: 50%;
    }
}
@media(max-width:800px){
    .products{
        width: 60%;
    }
}